.blue {
  color: blue;
}

.right{
  text-align: right;
}
.center{
  text-align: center;
}

#green-row {
  background-color: #D0FCD5;
}

#purple-row {
  background-color: #E3D0FC;
}

#gray-row {
  background-color: #D8D2D2;
}
.row {
  padding:10px;
  border: solid green;
}
